/* index.css */
/* 
@import url('@fontsource/roboto/300.css');
@import url('@fontsource/roboto/400.css');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css'); */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* Your other styles go here */
